/TicTac/nbproject/private/
/TicTac/build/
/Day13/nbproject/private/
/Day13/build/
/Day13/dist/
/SarakstaPiemers/nbproject/private/
/SarakstaPiemers/build/
/application1/nbproject/private/
/application1/build/